/* You can add global styles to this file, and also import other style files */

$ground-none-color        : white;
$ground-snake-body-color  : black;
$ground-food-color        : red;

body {
  margin: 5px;
}